<header>
  <nav class="navbar container justify-content-center">
    <div class="navbar-brand d-flex justify-content-center align-items-center">
      <a
        routerLink="/"
        class="d-flex justify-content-center align-items-center"
      >
        <img src="../../../assets/icons/logo.svg" alt="brand-logo" />
      </a>
      <div class="image-container">
        <a href="slot">
          <img
            src="./../../assets/images/img1.jpg"
            alt=""
            class="image-with-space"
          />
          <img
            src="./../../assets/images/img2.jpg"
            alt=""
            class="image-with-space"
          />
          <img
            src="./../../assets/images/img3.jpg"
            alt=""
            class="image-with-space"
          />
          <img
            src="./../../assets/images/img4.jpg"
            alt=""
            class="image-with-space"
          />
          <img
            src="./../../assets/images/img5.jpg"
            alt=""
            class="image-with-space"
          />
        </a>
      </div>
    </div>
  </nav>
</header>
