<div class="card user-detail-information">
  <div class="card-header">User Details</div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><strong>Username:</strong> {{ username }}</li>
    <li class="list-group-item"><strong>E-Mail:</strong> {{ email }}</li>
    <li class="list-group-item">
      <strong>Address:</strong> {{ city }}, {{ street }}, {{ suite }}
    </li>
    <li class="list-group-item"><strong>Phone:</strong> {{ phone }}</li>
    <li class="list-group-item"><strong>Website:</strong> {{ website }}</li>
    <li class="list-group-item"><strong>Company:</strong> {{ companyName }}</li>
    <li class="list-group-item">
      <strong>CatchPhrase:</strong> {{ catchPhrase }}
    </li>
    <li class="list-group-item"><strong>BS:</strong> {{ bs }}</li>
  </ul>
</div>
