<div
  class="users container d-flex flex-column align-items-center justify-content-center"
>
  <div
    class="users-title d-flex flex-column align-items-center infinite-scroll-background"
  >
    <app-page-title></app-page-title>
    <app-page-description></app-page-description>
  </div>
  <div class="table-scroll">
    <div class="table-responsive">
      <table class="table table-hover table-bordered table-condensed">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Phone</th>
            <th scope="col">Email</th>
            <th scope="col">Website</th>
            <th></th>
          </tr>
        </thead>
        <tbody class="align-middle">
          <tr *ngFor="let user of users" class="table-row">
            <th scope="row">{{ user.id }}</th>
            <td>{{ user.name }}</td>
            <td>{{ user.phone }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.website }}</td>
            <td>
              <a [routerLink]="['/user-details', user.id]" class="button btn"
                >Details</a
              >
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
